<div class="marvel-device iphone6 silver">
  <div class="top-bar"></div>
  <div class="sleep"></div>
  <div class="volume"></div>
  <div class="camera"></div>
  <div class="sensor"></div>
  <div class="speaker"></div>
  <div class="ui-device-screen screen">
    <ul class="app-device-screen nav nav-stacked">
      <li ng-click="selectComponent(item)"
          ng-class="{active: config.currentComponent == item}"
          ng-repeat="item in config.templateData">
        <app-device-component component="item"
                              selected="config.currentComponent === item"
                              move-up="moveUp" move-down="moveDown" remove="remove"></app-device-component>
      </li>
    </ul>
  </div>
  <div class="home"></div>
  <div class="bottom-bar"></div>
</div>